url    = "music/band/category/:slug"
layout = "default"

[BaseMusicCategory]
slug="{{ :slug }}"
==
function onEnd() {
    $this->page->title = $this->category->name;
}
==
<div class="main-container container pt-24" id="main-container">
    <div class="row">
        <div class="col-md-8">
            <div class="title-wrap">
                <h3 class="section-title">Band {{ category.name }}</h3>
            </div>
            {% if bands.count %}
                <div class="row">
                    {% for band in bands %}
                    <div class="col-md-4">
                        <article class="entry thumb thumb--size-1">
                            <div class="entry__img-holder thumb__img-holder" style="background-image: url({{ band.pictures[0].path }});">
                                <div class="bottom-gradient"></div>
                                <div class="thumb-text-holder">
                                    <h2 class="thumb-entry-title">
                                        <a href="{{ 'music/band-detail'|page({slug: band.slug}) }}">{{ band.name }}</a>
                                    </h2>
                                </div>
                                <a href="{{ 'music/band-detail'|page({slug: band.slug}) }}" class="thumb-url"></a>
                            </div>
                        </article>
                    </div>
                    {% endfor %}
                </div>
            {% else %}
                {% partial 'no-content' message='Belum ada data band dengan genre ini' %}
            {% endif %}
        </div>
        <div class="col-md-4">
            {% partial 'sidebar-primary' %}
        </div>
    </div>
</div>
