url    = "music/band/:slug"
layout = "default"

[BaseBandDetail]
slug="{{ :slug }}"
==
function onEnd() {
    $this->page->title = $this->band->name;
    $this->page->description = $this->band->description;
}
==
<div class="main-container container pt-24" id="main-container">
    <div class="row">
        <div class="col-lg-8">
            <div class="title-wrap">
                <h3 class="section-title">{{ this.page.title }}</h3>
            </div>
            {% if band.pictures.count %}
            <div id="owl-headlines" class="owl-carousel owl-theme owl-carousel--arrows-outside">
            {% for picture in band.pictures %}
                <div class="thumb thumb--size-6">
                    <div class="entry__img-holder thumb__img-holder" style="background-image: url({{ picture.path }});">
                        <div class="bottom-gradient"></div>
                    </div>
                </div>
            {% endfor %}
            </div>
            {% endif %}
            <div class="tabs">
                <ul class="tabs__list">
                    <li class="tabs__item tabs__item--active">
                        <a href="#tab-1" class="tabs__url tabs__trigger">Tentang</a>
                    </li>
                    <li class="tabs__item">
                        <a href="#tab-2" class="tabs__url tabs__trigger">Member</a>
                    </li>
                    <li class="tabs__item">
                        <a href="#tab-3" class="tabs__url tabs__trigger">Album / Track</a>
                    </li>
                </ul>
                <!-- end tabs -->
            </div>
            <div class="tabs__content tabs__content-trigger">
                <div class="tabs__content-pane tabs__content-pane--active" id="tab-1" style="display: block;">
                    <div class="mb-4">
                        <p class="mb-0"><b>Genre</b></p>
                        <p>{{ band.genre.name }}</p>
                        <hr>
                    </div>
                    <div class="mb-4">
                        <p class="mb-0"><b>Biografi</b></p>
                        <p>{{ band.description }}</p>
                        <hr>
                    </div>
                    <div class="mb-4">
                        <p class="mb-0"><b>Media Sosial</b></p>
                        <div class="socials sidenav__socials mt-1 pl-0">
                            {% if band.socials['facebook'] %}
                            <a class="social social-ui-facebook" href="{{ band.socials['facebook'] }}" target="_blank" aria-label="ui-facebook">
                                <i class="ui-facebook"></i>
                            </a>
                            {% endif %}
                            {% if band.socials['instagram'] %}
                            <a class="social social-ui-instagram" href="{{ band.socials['instagram'] }}" target="_blank" aria-label="ui-instagram">
                                <i class="ui-instagram"></i>
                            </a>
                            {% endif %}
                            {% if band.socials['youtube'] %}
                            <a class="social social-ui-youtube" href="{{ band.socials['youtube'] }}" target="_blank" aria-label="ui-youtube">
                                <i class="ui-youtube"></i>
                            </a>
                            {% endif %}
                            {% if band.socials['spotify'] %}
                            <a class="social social-ui-spotify" href="{{ band.socials['spotify'] }}" target="_blank" aria-label="ui-spotify">
                                <i class="ui-spotify"></i>
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="tabs__content-pane" id="tab-2" style="display: none;">
                    {% if band.members.count %}
                        <ul class="post-list-small">
                            {% for member in band.members %}
                            <li class="post-list-small__item">
                                <article class="post-list-small__entry clearfix d-flex align-items-center">
                                    <div class="post-list-small__img-holder">
                                        <div class="thumb-container thumb-100">
                                            <a href="#">
                                                <img data-src="https://www.gravatar.com/avatar/2d6826023f031865b164c14f78254c0e?s=90&d=mm" src="https://www.gravatar.com/avatar/2d6826023f031865b164c14f78254c0e?s=90&d=mm" alt="" class="post-list-small__img--rounded lazyloaded">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="post-list-small__body">
                                        <h3 class="post-list-small__entry-title">
                                              {{ member.name }}
                                            </h3>
                                        <ul class="entry__meta">
                                            <li class="entry__meta-author">
                                                {{ member.role }}
                                            </li>
                                        </ul>
                                    </div>
                                </article>
                            </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        {% partial 'no-content' message='Belum ada data member untuk band ini' %}
                    {% endif %}
                </div>
                <div class="tabs__content-pane" id="tab-3" style="display: none;">
                    {% if band.tracks.count %}
                        <ul class="post-list-small">
                            {% for track in band.tracks %}
                            <iframe src="{{ track.spotify }}" width="100%" height="80" frameborder="0" data-mce-fragment="1"></iframe>
                            {% endfor %}
                        </ul>
                    {% else %}
                        {% partial 'no-content' message='Belum ada data track untuk band ini' %}
                    {% endif %}
                </div>
            </div>

            <!-- Outter Tab Contents -->
            <section class="section related-posts mt-40 mb-0">
                <div class="title-wrap title-wrap--line title-wrap--pr">
                    <h3 class="section-title">Band {{ band.genre.name }} Lainnya</h3>
                </div>

                {% if relatedGenres.count %}
                <!-- Slider -->
                <div id="owl-posts-3-items" class="owl-carousel owl-theme owl-carousel--arrows-outside">
                    {% for band in relatedGenres %}
                    <article class="entry thumb thumb--size-1">
                        <div class="entry__img-holder thumb__img-holder" style="background-image: url({{ band.pictures[0].path }});">
                            <div class="bottom-gradient"></div>
                            <div class="thumb-text-holder">
                                <h2 class="thumb-entry-title">
                                    <a href="{{ 'music/band-detail'|page({slug: band.slug}) }}">{{ band.name }}</a>
                                </h2>
                            </div>
                            <a href="{{ 'music/band-detail'|page({slug: band.slug}) }}" class="thumb-url"></a>
                        </div>
                    </article>
                    {% endfor %}
                </div>
                {% else %}
                    {% partial 'no-content' message='Belum ada band terkait untuk saat ini' %}
                {% endif %}
                <!-- end slider -->
            </section>
            <!-- end related posts -->
             <!-- Slider -->
            <div id="owl-genre" class="owl-carousel owl-theme owl-carousel--arrows-outside">
                {% for genre in genres %}
                <div class="block block-genre" style="background-image: url('https://unsplash.it/1200/1200')">
                    <a href="#"></a>
                    <p>{{ genre.name|upper }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4">
            {% partial 'sidebar-primary' %}
        </div>
    </div>
</div>
