title  = "Band"
url    = "music/band"
layout = "default"

[BaseMusic]
==
<div class="main-container container pt-24" id="main-container">
    <div class="mb-4">
        <div class="title-wrap">
            <h3 class="section-title">Genre</h3>
        </div>
         <!-- Slider -->
        <div id="owl-genre" class="owl-carousel owl-theme owl-carousel--arrows-outside">
            {% for genre in genres %}
            <article class="entry thumb thumb--size-1">
                <div class="entry__img-holder thumb__img-holder" style="background-image: url({{ genre.picture.path }});">
                    <div class="bottom-gradient"></div>
                    <div class="thumb-text-holder">
                        <h2 class="thumb-entry-title">
                            <a href="{{ 'music/band-category'|page({slug: genre.slug}) }}">&nbsp;</a>
                        </h2>
                    </div>
                    <a href="{{ 'music/band-category'|page({slug: genre.slug}) }}" class="thumb-url"></a>
                </div>
            </article>
            {% endfor %}
        </div>
    </div>

    <div class="mb-4">
        <div class="row">
            <div class="col-md-8">
                <div class="title-wrap">
                    <h3 class="section-title">Band</h3>
                </div>
                <div class="row">
                    {% for band in bands %}
                    <div class="col-md-4">
                        <article class="entry thumb thumb--size-1">
                            <div class="entry__img-holder thumb__img-holder" style="background-image: url({{ band.pictures[0].path }});">
                                <div class="bottom-gradient"></div>
                                <div class="thumb-text-holder">
                                    <h2 class="thumb-entry-title">
                                        <a href="{{ 'music/band-detail'|page({slug: band.slug}) }}">{{ band.name }}</a>
                                    </h2>
                                </div>
                                <a href="{{ 'music/band-detail'|page({slug: band.slug}) }}" class="thumb-url"></a>
                            </div>
                        </article>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-4">
                {% partial 'sidebar-primary' %}
            </div>
        </div>
    </div>
</div>
