title  = "Roster"
url    = "music/roster"
layout = "default"

[BaseNewsCategory]
slug = "roster"
==
{% set blogs = BaseNewsCategory.getBlog() %}
<div class="main-container container pt-24" id="main-container">
    {% if blogs.count %}
        <div class="row">
            {% for key, blog in blogs %}
                <div class="col-md-3" style="margin-bottom: 20px">
                    {% partial 'news/post-horizontal' blog=blog %}
                </div>
            {% endfor %}
        </div>
    {% else %}
        {% partial 'no-content' %}
    {% endif %}
</div>
