<div class="thumb thumb-custom">
    <div class="entry__img-holder thumb__img-holder">
        <div class="container">
            <div class="thumb-text-holder thumb-text-holder--5">
                <h1 class="thumb-entry-title single-post__thumb-entry-title">{{ title }}</h1>
            </div>
        </div>
    </div>
</div>
