<div class="thumb thumb--size-6">
    <div class="entry__img-holder thumb__img-holder" style="background-image: url({{ image }});">
        <div class="bottom-gradient"></div>
        <div class="container">
            <div class="thumb-text-holder thumb-text-holder--5">
                <h1 class="thumb-entry-title single-post__thumb-entry-title">{{ title }}</h1>
            </div>
        </div>
    </div>
</div>
