[staticMenu mainMenu]
code = "main-menu"

[viewBag]
==
<footer class="footer footer--white {{ this.page.footerBorder ? 'top-divider' : '' }}">
    <div class="container">
        <div class="footer__widgets">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center">
                    <aside class="widget widget-logo">
                        <a href="{{ 'home'|page }}">
                            <img src="{{ 'assets/images/typetext2-black.png'|theme }}" srcset="{{ 'assets/images/typetext2-black.png'|theme }} 1x, {{ 'assets/images/typetext2-black.png'|theme }} 2x" class="logo__img ml-auto mr-auto" alt="">
                        </a>
                        <p class="copyright">
                            {{ settings.site.site_description }}
                        </p>
                        <div class="socials socials--large socials--rounded mb-24 justify-content-center">
                            {% for social in settings.site.socials %}
                            <a href="{{ social.url }}" target="_blank" class="social social-{{ social.type}}" aria-label="{{ social.type}}">
                                <i class="{{ social.type }}"></i>
                            </a>
                            {% endfor %}
                        </div>
                        <ul class="footer__nav-menu footer__nav-menu--1">
                            {% for mainMenu in mainMenu.menuItems %}
                            <li><a href="{{ mainMenu.url }}">{{ mainMenu.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </aside>
                </div>
            </div>
        </div>
    </div>
    <!-- end container -->
</footer>
