[viewBag]
==
{% set _meta_title       = this.page.title ? settings.site.site_name  ~ ' - ' ~ this.page.title : settings.site.site_name ~' - '~ settings.site.site_description %}
{% set _meta_description = this.page.description ? this.page.description : settings.site.site_description %}
{% set _meta_image       = this.page.image %}

<title>{{ _meta_title }}</title>
<meta charset="utf-8">
<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

<!-- Google Fonts -->
<link href='https://fonts.googleapis.com/css?family=Montserrat:400,600,700%7CSource+Sans+Pro:400,600,700' rel='stylesheet'>

<!-- Css -->
<link rel="stylesheet" href="{{ [
    '@framework.extras',

    'assets/css/bootstrap.css',
	'assets/css/fonts.css',
	'assets/css/colors/red.css',
	'assets/css/style.css',
	'assets/css/app.css',

]|theme }}">

<!-- Favicons -->
<meta name="description" content="{{ _meta_description }}">
<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="{{ _meta_title }}">
<meta itemprop="description" content="{{ _meta_description }}">
<meta itemprop="image" content="{{ _meta_image }}">

<!-- Twitter Card data -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="">
<meta name="twitter:title" content="{{ _meta_title }}">
<meta name="twitter:description" content="{{ _meta_description }}">

<!-- Twitter summary card with large image must be at least 280x150px -->
<meta name="twitter:image:src" content="{{ _meta_image }}">

<!-- Open Graph data -->
<meta property="og:title" content="{{ _meta_title }}">
<meta property="og:url" content="{{ ''|page }}">
<meta property="og:image" content="{{ _meta_image }}">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">
<meta property="og:description" content="{{ _meta_description }}">
<meta property="og:site_name" content="TurEZ">

<link rel="canonical" href="{{ ''|page }}">

<!-- Favicons -->
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#000000">
<meta name="msapplication-TileColor" content="#000000">
<meta name="theme-color" content="#ffffff">

<!-- Lazyload (must be placed in head in order to work) -->
<script src="{{ 'assets/js/lazysize.js'|theme }}"></script>
