<div class="top-bar">
    <div class="container">
        <div class="row">
            <!-- Top menu -->
            <div class="col-lg-6 d-none d-lg-block">
                <div class="socials nav__socials socials--nobase socials--white justify-content-start">
                    {% for social in settings.site.socials %}
                    <a class="social social-facebook" href="{{ social.url }}" target="_blank" aria-label="facebook">
                        <i class="{{ social.type }}"></i>
                    </a>
                    {% endfor %}
                </div>
            </div>

            <!-- Socials -->
            <div class="col-lg-6">
                <ul class="top-menu text-right">
                    <li>
                        {% if not user%}
                        <a href="#modalLogin" data-toggle="modal">MASUK</a>
                        {% else %}
                        <a href="{{ 'account/band-profile'|page }}">DASHBOARD</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
