[viewBag]

[staticMenu newsMenu]
code = "news-menu"

[staticMenu sideMenu]
code = "side-menu"
==

{% partial 'header-top' %}
<header class="header d-lg-block d-none">
    <div class="container">
        <div class="flex-parent">
            <div class="flex-child text-center">
                <!-- Logo -->
                <a href="{{ 'home'|page }}" class="logo">
                    <img class="logo__img" src="{{ 'assets/images/typetext2-black.png'|theme }}" srcset="{{ 'assets/images/typetext2-black.png'|theme }} 1x, img/logo_politics@2x.png 2x" alt="logo">
                </a>
            </div>
        </div>
    </div>
</header>

<header class="nav nav--1">
    <div class="nav__holder nav--sticky">
        <div class="container relative">
            <div class="flex-parent">
                <div class="flex-child">
                    <!-- Side Menu Button -->
                    <button class="nav-icon-toggle" id="nav-icon-toggle" aria-label="Open side menu">
                        <span class="nav-icon-toggle__box">
                            <span class="nav-icon-toggle__inner"></span>
                        </span>
                    </button>
                </div>

                <!-- Nav-wrap -->
                <nav class="flex-child nav__wrap d-none d-lg-block">
                    <ul class="nav__menu">
                        {% for item in newsMenu.menuItems %}
                        <li>
                            <a href="{{ item.url }}">{{ item.title }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                    <!-- end menu -->
                </nav>
                <!-- end nav-wrap -->

                <!-- Logo Mobile -->
                <a href="{{ 'home'|page }}" class="logo logo-mobile d-lg-none">
                    <img class="logo__img" src="{{ 'assets/images/typetext2-black.png'|theme }}" srcset="{{ 'assets/images/typetext2-black.png'|theme }} 1x, {{ 'assets/images/typetext2-black.png'|theme }} 2x" alt="logo">
                </a>

                <!-- Nav Right -->
                <div class="flex-child">
                    <div class="nav__right">
                        <!-- Search -->
                        <div class="nav__right-item nav__search">
                            <a href="#" class="nav__search-trigger" id="nav__search-trigger">
                                <i class="ui-search nav__search-trigger-icon"></i>
                            </a>
                            <div class="nav__search-box" id="nav__search-box">
                                <form class="nav__search-form" method="get" action="{{ 'search'|page }}">
                                    <input type="text" name="keyword" placeholder="Search an article" class="nav__search-input">
                                    <button type="submit" class="search-button btn btn-lg btn-color btn-button">
                                        <i class="ui-search nav__search-icon"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- end nav right -->
                </div>
            </div>
        </div>
    </div>
</header>
