{% for sidebar in settings.appearance.sidebars %}
<section class="section section-sidebar tab-post mb-20">
    <div class="title-wrap">
        <h3 class="section-title">{{ sidebar.title }}</h3>
    </div>
    <div>
        {{ sidebar.content|md }}
    </div>
</section>
{% endfor %}
