<nav class="sidenav__menu-container">
    <ul class="sidenav__menu" role="menubar">
        <li><a class="sidenav__menu-url" href="{{ 'home'|page }}">Home</a></li>
        {% for menu in sideMenu.menuItems%}
        <li>
            <a class="sidenav__menu-url" href="{{ menu.url }}">{{ menu.title }}</a>
            {% if menu.items %}
            <button class="sidenav__menu-toggle" aria-haspopup="true" aria-label="Open dropdown">
                <i class="ui-arrow-down"></i>
            </button>
            <ul class="sidenav__menu-dropdown">
                {% for child in menu.items %}
                <li>
                    <a href="{{ child.url }}" class="sidenav__menu-url">{{ child.title }}</a>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</nav>

<div class="socials sidenav__socials">
    {% for social in settings.site.socials %}
    <a class="social social-{{ social.type}}" href="{{ social.url }}" target="_blank" aria-label="{{ social.type}}">
        <i class="{{ social.type }}"></i>
    </a>
    {% endfor %}
</div>
