<div class="main-container container pt-24" id="main-container">
    <div class="title-wrap">
        <h3 class="section-title">Telah Berlangsung</h3>
    </div>
    {% if publications.count %}
        <div class="row">
            {% for publication in publications %}
            <div class="col-lg-4">
                <article class="entry card">
                    <div class="entry__img-holder card__img-holder">
                        <a href="{{ 'news/detail'|page({slug: publication.slug}) }}">
                            <div class="thumb-container thumb-70">
                                <img data-src="{{ publication.featured_images[0].path }}" src="{{ publication.featured_images[0].path }}" class="entry__img lazyloaded" alt="">
                            </div>
                        </a>
                    </div>

                    <div class="entry__body card__body pl-0 pr-0">
                        <div class="entry__header">
                            <h2 class="entry__title">
                                <a href="{{ 'news/detail'|page({slug: publication.slug}) }}">{{ publication.title }}</a>
                            </h2>
                            <ul class="entry__meta">
                                <li class="entry__meta-author">
                                    <span>by</span>
                                    <a href="#">{{ publication.user.first_name ~' '~ publication.user.last_name }}</a>
                                </li>
                                <li class="entry__meta-date">
                                    {{ publication.published_at.diffForHumans }}
                                </li>
                            </ul>
                        </div>
                        <div class="entry__excerpt">
                            {{ str_limit(publication.content, 100, '...') }}
                        </div>
                    </div>
                </article>
            </div>
            {% endfor %}
        </div>
    {% else %}
        {% partial 'no-content' message='Tidak ada publikasi acara' %}
    {% endif %}

    <div class="mt-4">
        <div class="title-wrap">
            <h3 class="section-title">AKAN HADIR</h3>
        </div>

        {% if events.count %}
            <div class="row">
                {% for event in events %}
                <div class="col-lg-6">
                    <div class="final-review block-event">
                        <a href="{{ 'event/detail'|page({slug: event.slug}) }}"></a>
                        <div class="event-date">
                            {{ event.held_at|date('F') }} <br>{{ event.held_at|date('d') }}
                        </div>
                        <div class="final-review__score event-bg" style="background-image: url({{ event.picture ? event.picture.path : 'https://unsplash.it/1200/1200' }})">
                            <span class="final-review__score-number" style="visibility: hidden">&nbsp;</span>
                        </div>
                        <div class="final-review__text-holder">
                            <h6 class="final-review__title">{{ event.name }}</h6>
                            <p class="final-review__text">
                                {{ event.place }}
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        {% else %}
            {% partial 'no-content' message='Tidak ada event akan datang' %}
        {% endif %}
    </div>
</div>
