title  = "Home"
url    = "/"
layout = "default"

[BaseHome]

[BaseNewsletter]
==
{% set blogs      = BaseHome.getBlogs(5) %}
{% set categories = BaseHome.getCategories() %}
{% set trend      = BaseHome.getTrend() %}
{% set playlist   = BaseHome.getPlaylist() %}

<div class="main-container container pt-24" id="main-container">
    {% if settings.appearance.sliders %}
    <div id="owl-headlines" class="owl-carousel owl-theme owl-carousel--arrows-outside">
        {% for slider in settings.appearance.sliders %}
            <div class="thumb thumb--size-6">
                <div class="entry__img-holder thumb__img-holder" style="background-image: url({{ slider.image|media }});">
                    <div class="bottom-gradient"></div>
                    <div class="container">
                        <div class="thumb-text-holder thumb-text-holder--5">
                            <h1 class="thumb-entry-title single-post__thumb-entry-title">{{ slider.title }}</h1>
                            <a href="{{ slider.url }}" target="_blank" class="btn btn-white p-2">Selengkapnya</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% endif %}

    <!-- posts -->
    <div class="blog__content">
        <div class="row">
            <div class="col-md-8">
                <!-- Latest News -->
                <section class="section tab-post mb-16">
                    <div class="title-wrap">
                        <h3 class="section-title">Latest News</h3>
                    </div>
                    <!-- tab content -->
                    <div class="tabs__content tabs__content-trigger tab-post__tabs-content">
                        <div class="tabs__content-pane tabs__content-pane--active" id="tab-all">
                            <div class="row card-row">
                                {% for blog in blogs %}
                                <div class="col-md-12">
                                    {% partial 'news/post-vertical' blog=blog %}
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <!-- end tab content -->
                </section>
                <!-- end latest news -->
            </div>

            <div class="col-md-4">
                <section class="section tab-post mb-20">
                    <div class="title-wrap">
                        <h3 class="section-title">Playlist Of The Week</h3>
                    </div>
                    <div>
                        {% for playlist in playlist.contents %}
                        <iframe src="{{ playlist.url }}" width="100%" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                        {% endfor %}
                    </div>
                </section>

                {% partial 'sidebar-primary' %}
            </div>
        </div>
    </div>
    <!-- end posts -->

    <!-- Carousel posts -->
    <section class="section mb-0">
        <div class="title-wrap title-wrap--line title-wrap--pr">
            <h3 class="section-title">Pilihan Kolektivisia</h3>
        </div>
        <!-- Slider -->
        <div id="owl-posts" class="owl-carousel owl-theme owl-carousel--arrows-outside">
            {% for post in trend %}
            {% set post = post.post %}
            <article class="entry thumb thumb--size-1">
                <div class="entry__img-holder thumb__img-holder" style="background-image: url({{ post.featured_images[0].path }});">
                    <div class="bottom-gradient"></div>
                    <div class="thumb-text-holder">
                        <h2 class="thumb-entry-title">
                            <a href="{{ 'news/detail'|page({slug: post.slug}) }}">{{ post.title }}</a>
                        </h2>
                    </div>
                    <a href="{{ 'news/detail'|page({slug: post.slug}) }}" class="thumb-url"></a>
                </div>
            </article>
            {% endfor %}
        </div>
        <!-- end slider -->
    </section>
    <!-- end carousel posts -->

    <!-- Posts from categories -->
    <section class="section mb-0">
        <div class="row">
            {% for key, category in categories %}

            {% if key == 4 %}
                </div></section></div>
                <div class="banner banner-newsletter" style="background-image:url({{ settings.appearance.bgnewsletter.path }})">
                    <div class="container">
                        <h1>Berlangganan Artikel Mingguan</h1>
                        <div class="row">
                            <div class="col-md-10 offset-md-1">
                                <form data-request="BaseNewsletter::onRegister" data-request-flash>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Alamat Email...">
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-primary w-100 pt-2 pb-2" type="submit" data-attach-loading>DAFTAR</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main-container container" id="main-container">
                    <section class="section mb-0">
                        <div class="row">
            {% endif %}
            <div class="col-md-6">
                <div class="title-wrap title-wrap--line">
                    <h3 class="section-title">{{ category.name }}</h3>
                </div>
                <div class="row">
                    {% set blog = BaseHome.getBlogBy(category.id)['head'] %}
                    <div class="col-lg-6">
                        <article class="entry thumb thumb--size-2">
                            <div class="entry__img-holder thumb__img-holder" style="background-image: url({{ blog.featured_images[0].path }});">
                                <div class="bottom-gradient"></div>
                                <div class="thumb-text-holder thumb-text-holder--1">
                                    <h2 class="thumb-entry-title">
                                        <a href="{{ 'news/detail'|page({slug: blog.slug} )}}">{{ blog.title }}</a>
                                    </h2>
                                    <ul class="entry__meta">
                                        <li class="entry__meta-author">
                                            <span>by</span>
                                            <a href="#">{{ blog.user.first_name ~' '~ blog.user.last_name }}</a>
                                        </li>
                                        <li class="entry__meta-date">{{ blog.published_at|date('d F Y H:i') }}</li>
                                    </ul>
                                </div>
                                <a href="{{ 'news/detail'|page({slug: blog.slug} )}}" class="thumb-url"></a>
                            </div>
                        </article>
                    </div>
                    <div class="col-lg-6">
                        <ul class="post-list-small post-list-small--dividers post-list-small--arrows mb-24">
                            {% set blogPosts = BaseHome.getBlogBy(category.id)['content'] %}
                            {% for blog in blogPosts %}
                            <li class="post-list-small__item">
                                <article class="post-list-small__entry">
                                    <div class="post-list-small__body">
                                        <h3 class="post-list-small__entry-title">
                                            <a href="{{ 'news/detail'|page({slug: blog.slug}) }}">{{ blog.title }}</a>
                                        </h3>
                                    </div>
                                </article>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
    <!-- end posts from categories -->
</div>
