title = "maintenance.htm"
url = "/maintenancehtm"
is_hidden = 0
==
<html>
    <head>
        <title>Dalam Perbaikan</title>
    </head>
    <body>
        <div style="display: flex; justify-content: center; align-items: center; width: 100%; height: 100%">
            <img src="{{ 'assets/images/tyeptext-black.png'|theme }}" alt="" class="img-responsive">
        </div>
    </body>
</html>