title  = "Hasil Pencarian"
url    = "/search"
layout = "default"

[BaseSearch]
==

<div class="main-container container pt-24" id="main-container">
    <div class="page-header mb-40 mt-40">
        <h3>Search Result For: <b>{{ input('keyword') }}</b></h3>
    </div>

    <div class="row">
        {% if blogs.count  %}
            {% for blog in blogs %}
            <div class="col-lg-4" style="margin-bottom: 40px">
                <article class="entry thumb thumb--size-2">
                    <div class="entry__img-holder thumb__img-holder" style="background-image: url({{ blog.featured_images[0].path }});">
                        <div class="bottom-gradient"></div>
                        <div class="thumb-text-holder thumb-text-holder--1">
                            <h2 class="thumb-entry-title">
                                <a href="{{ 'news/detail'|page({slug: blog.slug} )}}">{{ blog.title }}</a>
                            </h2>
                            <ul class="entry__meta">
                                <li class="entry__meta-author">
                                    <span>by</span>
                                    <a href="#">{{ blog.user.first_name ~' '~ blog.user.last_name }}</a>
                                </li>
                                <li class="entry__meta-date">{{ blog.published_at|date('d F Y H:i') }}</li>
                            </ul>
                        </div>
                        <a href="{{ 'news/detail'|page({slug: blog.slug} )}}" class="thumb-url"></a>
                    </div>
                </article>
            </div>
            {% endfor %}
        {% else %}
            <div class="col-12 mb-20">
                <p class="text-muted lead mb-0">Tidak dapat menemukan {{ input('keyword') }} dalam artikel</p>
            </div>
        {% endif %}
    </div>
</div>
