url    = "news/author/:slug"
layout = "default"

[BaseNewsAuthor]
slug = "{{ :slug }}"
==
{% set blogs = BaseNewsAuthor.getBlog() %}
<div class="main-container container pt-24" id="main-container">
    <div class="row">
        {% for blog in blogs %}
        <div class="col-lg-6" style="margin-bottom: 20px">
            {% partial 'news/post-vertical' blog=blog %}
        </div>
        {% endfor %}
    </div>
</div>
