title  = "Sumbang Tulisan"
url    = "news/contribution"
layout = "default"

[BaseNewsContribution]
slug = "{{ :slug }}"
==
{% set blogs = BaseNewsCategory.getBlog() %}
{% partial 'banner-secondary' title=this.page.title|upper %}
<div class="main-container container pt-24" id="main-container">
    <form enctype="multipart/form-data" method="post">
		{{ form_token() }}
		{{ form_sessionKey() }}
		<input type="hidden" name="_handler" value="onSave">

        <div class="form-group">
        	<label>Nama Lengkap</label>
        	<input name="name" type="text" class="form-control">
        </div>

        <div class="form-group">
        	<label>Email</label>
        	<input name="email" type="email" class="form-control">
        </div>

        <div class="form-group">
        	<label>Tulisan</label>
        	<input name="document" type="file" class="form-control" accept="document/*">
        </div>

        <div class="form-group">
        	<label></label>
        	<button class="btn btn-default w-100 pb-2 pt-2" type="submit" data-attach-loading>SIMPAN</button>
        </div>
    </form>
</div>
