url       = "news/read/:slug"
layout    = "default"
is_hidden = 0

[BaseNewsDetail]
slug = "{{ :slug }}"

[BaseNewsletter]

[registerVisit]

[topPosts]
period      = 4
category    = 0
postPerPage = 12
postPage    = "news/detail"
slug        = "{{ :slug }}"
==
<?php
function onEnd() {
    $this->page->title       = $this->blog->title;
    $this->page->description = $this->blog->content;
    $this->page->image       = count($this->blog->featured_images) ? $this->blog->featured_images[0]->path : '';
}
?>
==
<div class="main-container container pt-24" id="main-container">
    <!-- Content -->
    <div class="row">
        <!-- post content -->
        <div class="col-lg-8 blog__content mb-72">
            <div class="content-box">
                <!-- standard post -->
                <article class="entry mb-0">
                    <div class="single-post__entry-header entry__header">
                        {% for category in blog.categories %}
                        <a href="{{ 'news/category'|page({slug: category.slug}) }}" class="entry__meta-category entry__meta-category--label entry__meta-category--green">
                            {{ category.name }}
                        </a>
                        {% endfor %}
                        <h1 class="single-post__entry-title">{{ blog.title }}</h1>
                        <div class="entry__meta-holder">
                            <ul class="entry__meta">
                                <li class="entry__meta-author">
                                    <span>by</span>
                                    <a href="{{ 'news/author'|page({slug: blog.user.login} )}}">{{ blog.user.first_name ~' '~ blog.user.last_name }}</a>
                                </li>
                                <li class="entry__meta-date">{{ blog.published_at|date('d F Y H:i')}}</li>
                            </ul>
                            {# <ul class="entry__meta">
                                <li class="entry__meta-views">
                                    <i class="ui-eye"></i>
                                    <span>1356</span>
                                </li>
                                <li class="entry__meta-comments">
                                    <a href="#">
                                        <i class="ui-chat-empty"></i>
                                        13
                                    </a>
                                </li>
                            </ul> #}
                        </div>
                    </div>
                    <!-- end entry header -->
                    <div class="entry__img-holder">
                        <img src="{{ blog.featured_images[0].path }}" alt="" class="entry__img">
                    </div>
                    <div class="entry__article-wrap">
                        <!-- Share -->
                        <div class="entry__share">
                            <div class="sticky-col">
                                <div class="socials socials--rounded socials--large">
                                    <a class="social social-ui-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ 'news/detail'|page({slug: blog.slug}) }}" title="facebook" target="_blank" aria-label="facebook">
                                        <i class="ui-facebook"></i>
                                    </a>
                                    <a class="social social-ui-twitter" href="https://twitter.com/share?url={{ 'news/detail'|page({slug: blog.slug}) }}&text={{ blog.title }}" title="twitter" target="_blank" aria-label="twitter">
                                        <i class="ui-twitter"></i>
                                    </a>
                                    <a class="social social-ui-whatsapp" href="https://wa.me/?text=Kolektivisia - {{ blog.title }}: {{ str_limit(blog.content, 100, '...') }} {{ 'news/detail'|page({slug: blog.slug})}} " title="whatsapp" target="_blank" aria-label="whatsapp">
                                        <i class="ui-whatsapp"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- share -->
                        <div class="entry__article">
                            <div class="text-content">
                                {{ blog.content_html|raw }}
                            </div>

                            {% if blog.tags.count %}
                            <!-- tags -->
                            <div class="entry__tags">
                                <i class="ui-tags"></i>
                                <span class="entry__tags-label">Tags:</span>
                                {% for tag in blog.tags %}
                                <a href="{{ 'news/category'|page({slug: tag.slug}) }}" rel="tag">{{ tag.name }}</a>
                                {% endfor %}
                            </div>
                            <!-- end tags -->
                            {% endif %}
                        </div>
                        <!-- end entry article -->
                    </div>
                    <!-- end entry article wrap -->

                    <!-- Prev / Next Post -->
                    <nav class="entry-navigation">
                        <div class="clearfix">
                            {% if blogPrev %}
                            <div class="entry-navigation--left">
                                <i class="ui-arrow-left"></i>
                                <span class="entry-navigation__label">Artikel Sebelumnya</span>
                                <div class="entry-navigation__link">
                                    <a href="{{ 'news/detail'|page({slug: blogPrev.slug}) }}" rel="next">{{ blogPrev.title }}</a>
                                </div>
                            </div>
                            {% endif %}
                            {% if blogNext %}
                            <div class="entry-navigation--right">
                                <span class="entry-navigation__label">Artikel Selanjutnya</span>
                                <i class="ui-arrow-right"></i>
                                <div class="entry-navigation__link">
                                    <a href="{{ 'news/detail'|page({slug: blogNext.slug}) }}" rel="prev">{{ blogNext.title }}</a>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </nav>

                    <!-- Author -->
                    <div class="entry-author clearfix">
                        <img alt="" data-src="{{ blog.user.avatar ? blog.user.avatar.getThumb('100', '100', 'crop') : 'assets/images/placeholder-author-default.png'|theme }}" src="{{ blog.user.avatar ? blog.user.avatar.getThumb('100', '100', 'crop') : 'assets/images/placeholder-author-default.png'|theme }}" class="avatar lazyload">
                        <div class="entry-author__info">
                            <h6 class="entry-author__name">
                                <a href="{{ 'news/author'|page({slug: blog.user.login}) }}">{{ blog.user.first_name ~' '~ blog.user.last_name }}</a>
                            </h6>
                            <p class="mb-0">{{ blog.user.description ? blog.user.description : 'Penulis belum menuliskan deskripsinya untuk saat ini' }}</p>
                        </div>
                    </div>

                    {% if authorRelated.count > 5 %}
                    <!-- Related Posts -->
                    <section class="section related-posts mt-40 mb-0">
                        <div class="title-wrap title-wrap--line title-wrap--pr">
                            <h3 class="section-title">Artikel Penulis</h3>
                        </div>
                        <!-- Slider -->
                        <div id="owl-posts-3-items" class="owl-carousel owl-theme owl-carousel--arrows-outside">
                            {% for blog in authorRelated %}
                            <article class="entry thumb thumb--size-1">
                                <div class="entry__img-holder thumb__img-holder" style="background-image: url({{ blog.featured_images[0].path }});">
                                    <div class="bottom-gradient"></div>
                                    <div class="thumb-text-holder">
                                        <h2 class="thumb-entry-title">
                                            <a href="{{ 'news/detail'|page({slg: blog.slug}) }}">{{ blog.title }}</a>
                                        </h2>
                                    </div>
                                    <a href="{{ 'news/detail'|page({slg: blog.slug}) }}" class="thumb-url"></a>
                                </div>
                            </article>
                            {% endfor %}
                        </div>
                        <!-- end slider -->
                    </section>
                    <!-- end related posts -->
                    {% endif %}

                    {% if blogRelated.count > 5%}
                    <!-- Related Posts -->
                    <section class="section related-posts mt-40 mb-0">
                        <div class="title-wrap title-wrap--line title-wrap--pr">
                            <h3 class="section-title">Artikel Terkait</h3>
                        </div>
                        <!-- Slider -->
                        <div id="owl-posts-3-items" class="owl-carousel owl-theme owl-carousel--arrows-outside">
                            {% for blog in blogRelated %}
                            <article class="entry thumb thumb--size-1">
                                <div class="entry__img-holder thumb__img-holder" style="background-image: url({{ blog.featured_images[0].path }});">
                                    <div class="bottom-gradient"></div>
                                    <div class="thumb-text-holder">
                                        <h2 class="thumb-entry-title">
                                            <a href="{{ 'news/detail'|page({slg: blog.slug}) }}">{{ blog.title }}</a>
                                        </h2>
                                    </div>
                                    <a href="{{ 'news/detail'|page({slg: blog.slug}) }}" class="thumb-url"></a>
                                </div>
                            </article>
                            {% endfor %}
                        </div>
                        <!-- end slider -->
                    </section>
                    <!-- end related posts -->
                    {% endif %}
                </article>
                <!-- end standard post -->
            </div>
            <!-- end content box -->
        </div>
        <!-- end post content -->
        <!-- Sidebar -->
        <aside class="col-lg-4 sidebar sidebar--right">
            <!-- Widget Popular Posts -->
            <aside class="widget widget-popular-posts">
                <h4 class="widget-title">Artikel Pilihan</h4>
                <ul class="post-list-small">
                    {% for post in trend %}
                    {% set post = post.post %}
                    <li class="post-list-small__item">
                        <article class="post-list-small__entry clearfix">
                            <div class="post-list-small__img-holder">
                                <div class="thumb-container thumb-100">
                                    <a href="{{ 'news/detail'|page({slug: post.slug}) }}">
                                        <img data-src="{{ post.featured_images[0].getThumb('150', '150', 'crop') }}" src="{{ post.featured_images[0].getThumb('150', '150', 'crop') }}" alt="" class="post-list-small__img--rounded lazyload">
                                    </a>
                                </div>
                            </div>
                            <div class="post-list-small__body">
                                <h3 class="post-list-small__entry-title">
                                    <a href="{{ 'news/detail'|page({slug: post.slug}) }}">{{ post.title }}</a>
                                </h3>
                                <ul class="entry__meta">
                                    <li class="entry__meta-author">
                                        <span>by</span>
                                        <a href="#">{{ post.user.first_name ~' '~ post.user.last_name }}</a>
                                    </li>
                                    <li class="entry__meta-date">{{ post.published_at|date('d F Y H:i') }}</li>
                                </ul>
                            </div>
                        </article>
                    </li>
                    {% endfor %}
                </ul>
            </aside>
            <!-- end widget popular posts -->

            {% if topPosts.mostVisitedPosts.count %}
            {% set posts = topPosts.mostVisitedPosts %}
            <!-- Widget Popular Posts -->
            <aside class="widget widget-popular-posts">
                <h4 class="widget-title">Artikel Populer</h4>
                <ul class="post-list-small">
                    {% for post in posts %}
                    <li class="post-list-small__item">
                        <article class="post-list-small__entry clearfix">
                            <div class="post-list-small__img-holder">
                                <div class="thumb-container thumb-100">
                                    <a href="{{ 'news/detail'|page({slug: post.slug}) }}">
                                        <img data-src="{{ post.featured_images[0].getThumb('150', '150', 'crop') }}" src="{{ post.featured_images[0].getThumb('150', '150', 'crop') }}" alt="" class="post-list-small__img--rounded lazyload">
                                    </a>
                                </div>
                            </div>
                            <div class="post-list-small__body">
                                <h3 class="post-list-small__entry-title">
                                    <a href="{{ 'news/detail'|page({slug: post.slug}) }}">{{ post.title }}</a>
                                </h3>
                                <ul class="entry__meta">
                                    <li class="entry__meta-author">
                                        <span>by</span>
                                        <a href="#">{{ post.user.first_name ~' '~ post.user.last_name }}</a>
                                    </li>
                                    <li class="entry__meta-date">{{ post.published_at|date('d F Y H:i') }}</li>
                                </ul>
                            </div>
                        </article>
                    </li>
                    {% endfor %}
                </ul>
            </aside>
            <!-- end widget popular posts -->
            {% endif %}

            <!-- Widget Newsletter -->
            <aside class="widget widget_mc4wp_form_widget">
                <h4 class="widget-title">Newsletter</h4>
                <p class="newsletter__text">
                    <i class="ui-email newsletter__icon"></i>
                    Berlangganan artikel mingguan kami
                </p>
                <form class="mc4wp-form" data-request="BaseNewsletter::onRegister" data-request-flash>
                    <div class="mc4wp-form-fields">
                        <div class="form-group">
                            <input type="text" name="email" placeholder="Email kamu...">
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-lg btn-color" value="Daftar" data-attach-loading>
                        </div>
                    </div>
                </form>
            </aside>
            <!-- end widget newsletter -->
        </aside>
        <!-- end sidebar -->
    </div>
    <!-- end content -->
</div>
