url       = "/news/:slug"
layout    = "default"
is_hidden = 0

[blogPosts]
pageNumber     = "{{ :page }}"
categoryFilter = "{{ :slug }}"
postsPerPage   = "{{ 12 }}"
noPostsMessage = "No posts found"
sortOrder      = "published_at desc"
categoryPage   = "news/index"
postPage       = "news/detail"

[BaseNews]
slug = "{{ :slug }}"
==
<?php
function onEnd() {
    $this->page->title = $this->category->name;
}
?>
==
{% if category.slug == 'figure' or category.slug == 'focus' %}
{% partial 'banner-secondary' title=this.page.title|upper %}
{% else %}
{% partial 'banner-primary' title=this.page.title|upper image=category.picture.path %}
{% endif %}
<div class="main-container container pt-24" id="main-container">
    <div class="row">
        {% for blog in blogs %}
        <div class="col-lg-6" style="margin-bottom: 20px">
            {% partial 'news/post-vertical' blog=blog %}
        </div>
        {% endfor %}
    </div>
</div>
