title     = "Kolektivisia TV"
url       = "/tv"
layout    = "default"
is_hidden = 0

[BaseNewsCategory]
slug = "tv"
==
{% set blogs = BaseNewsCategory.getBlog() %}
<div class="main-container container pt-24" id="main-container">
    <div class="row">
        <div class="col-lg-10 offset-lg-1">
            <div class="row">
                {% for key, blog in blogs %}
                    {% if key == 0 %}
                        <div class="col-lg-12">
                            {% partial 'news/post-horizontal' blog=blog %}
                        </div>
                    {% else %}
                        <div class="col-lg-6" style="margin-bottom: 20px">
                            {% partial 'news/post-horizontal' blog=blog %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
