<article class="entry card post-list">
    <div class="entry__img-holder post-list__img-holder card__img-holder" style="background-image: url({{ blog.featured_images[0].path }})">
        <a href="{{ 'news/detail'|page({slug: blog.slug}) }}" class="thumb-url"></a>
        <img src="{{ blog.featured_images[0].path }}" alt="" class="entry__img d-none">
    </div>
    <div class="entry__body post-list__body card__body">
        <div class="entry__header">
            <ul class="entry__meta">
                {#
                <li class="entry__meta-category">
                    <a href="#">{{ blog.categories[0].name }}</a>
                </li> #}
                <li class="entry__meta-date">{{ blog.published_at.diffForHumans }}</li>
            </ul>
            <h2 class="entry__title">
                <a href="{{ 'news/detail'|page({slug: blog.slug}) }}">{{ blog.title }}</a>
            </h2>
            <ul class="entry__meta">
                <li class="entry__meta-author">
                    <span>by</span>
                    <a href="{{ 'news/author'|page({slug: blog.user.login}) }}">{{ blog.user ? blog.user.first_name ~' '~ blog.user.last_name : 'Kolektivisia' }}</a>
                </li>
            </ul>
        </div>
        <div class="entry__excerpt">
            {{ str_limit(blog.content, 100, '...') }}
        </div>
    </div>
</article>
