<article class="entry card">
    <div class="entry__img-holder card__img-holder">
        <a href="{{ 'news/detail'|page({slug: blog.slug}) }}">
            <div class="thumb-container thumb-70">
                <img data-src="{{ blog.featured_images[0].path }}" src="{{ blog.featured_images[0].path }}" class="entry__img lazyloaded" alt="">
            </div>
        </a>
    </div>

    <div class="entry__body card__body p-0">
        <div class="entry__header">

            <h2 class="entry__title">
                <a href="{{ 'news/detail'|page({slug: blog.slug}) }}">{{ blog.title }}</a>
            </h2>
            <ul class="entry__meta">
                <li class="entry__meta-date">
                    {{ blog.published_at.diffForHumans }}
                </li>
            </ul>
        </div>
    </div>
</article>
