[viewBag]

[staticMenu sideMenu]
code = "side-menu"

[session]
security = "user"
redirect = "/home"

[account]
==
<!DOCTYPE html>
<html lang="en">
    <head>
        {% partial 'head' %}
    </head>
    <body class="bg-light style-default style-rounded">
        <!-- Preloader -->
        <div class="loader-mask">
            <div class="loader">
                <div></div>
            </div>
        </div>
        <!-- Bg Overlay -->
        <div class="content-overlay"></div>
        <!-- Sidenav -->
        <header class="sidenav" id="sidenav">
            <!-- close -->
            <div class="sidenav__close">
                <button class="sidenav__close-button" id="sidenav__close-button" aria-label="close sidenav">
                    <i class="ui-close sidenav__close-icon"></i>
                </button>
            </div>

            <!-- Nav -->
           {% partial 'side-menu' %}
        </header>
        <!-- end sidenav -->

        <main class="main oh" id="main">
            <!-- Navigation -->
            <header class="nav">
                <div class="nav__holder nav--sticky">
                    <div class="container relative">
                        <div class="flex-parent">
                            <!-- Side Menu Button -->
                            <button class="nav-icon-toggle" id="nav-icon-toggle" aria-label="Open side menu">
                                <span class="nav-icon-toggle__box">
                                    <span class="nav-icon-toggle__inner"></span>
                                </span>
                            </button>

                            <!-- Logo -->
                            <a href="{{ 'home'|page }}" class="logo">
                                <img class="logo__img img-dashboard" src="{{ 'assets/images/typetext2-black.png'|theme }}" srcset="{{ 'assets/images/typetext2-black.png'|theme }} 1x, {{ 'assets/images/typetext2-black.png'|theme }} 2x" alt="logo">
                            </a>

                            <!-- Nav Right -->
                            <div class="nav__right">
                                <ul class="nav__menu">
                                    <li class="">
                                        <a href="#">&nbsp;</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- end nav right -->
                        </div>
                        <!-- end flex-parent -->
                    </div>
                    <!-- end container -->
                </div>
            </header>
            <!-- end navigation -->

            <div class="main-container container pt-24" id="main-container">
                <div class="row">
                    <!-- Sidebar -->
                    <aside class="col-lg-4 sidebar sidebar--right">
                        <aside class="widget widget-account widget_categories">
                            <h4 class="widget-title">BAND</h4>
                            <ul>
                                <li><a href="{{ 'account/band-profile'|page }}">Profile</a></li>
                                <li><a href="{{ 'account/band-member'|page }}">Member</a></li>
                                <li><a href="{{ 'account/band-track'|page }}">Album / Track</a></li>
                            </ul>
                            <hr>
                            <h4 class="widget-title">AKUN</h4>
                            <ul>
                                <li><a href="{{ 'account/update-password'|page }}">Ubah Password</a></li>
                                <li><a href="#"
                                    data-request="onLogout"
                                    data-request-data="'redirect': '/'"
                                    data-request-flash data-attach-loading>Keluar</a></li>
                            </ul>
                        </aside>
                    </aside>
                    <!-- end sidebar -->

                    <!-- Posts -->
                    <div class="col-lg-8 blog__content">
                        <aside class="sidebar sidebar-right">
                            <aside class="widget widget_categories">
                                {% if not this.page.hideTitle %}
                                <div class="page-header">
                                    <h3>{{ this.page.title }}</h3>
                                    <hr>
                                </div>
                                {% endif %}

                                {% page %}
                            </aside>
                        </aside>
                    </div>
                    <!-- end posts -->
                </div>
            </div>

            <div id="back-to-top">
                <a href="#top" aria-label="Go to top">
                    <i class="ui-arrow-up"></i>
                </a>
            </div>
        </main>
        <!-- end main-wrapper -->

        <!-- jQuery Scripts -->
        <script src="{{ [
            '@jquery',
            '@framework',
            '@framework.extras',

            'assets/js/bootstrap.js',
            'assets/js/sticky-kit.js',
            'assets/js/easing.js',
            'assets/js/owl-carousel.js',
            'assets/js/flickity.js',
            'assets/js/ticker.js',
            'assets/js/modernizr.js',
            'assets/js/scripts.js',

        ]|theme }}"></script>

        {% scripts %}

        <script src="https://snapwidget.com/js/snapwidget.js"></script>

        {% partial 'tracker' %}

        {% partial 'flash' %}

    </body>
</html>
