[viewBag]

[staticMenu newsMenu]
code = "news-menu"

[staticMenu sideMenu]
code = "side-menu"

[session]
security = "all"

[account]
==
<!DOCTYPE html>
<html lang="en">
    <head>
        {% partial 'head' %}
    </head>
    <body class="style-politics single-post">
        <!-- Preloader -->
        <div class="loader-mask">
            <div class="loader">
                <div></div>
            </div>
        </div>
        <!-- Bg Overlay -->
        <div class="content-overlay"></div>
        <!-- Sidenav -->
        <header class="sidenav" id="sidenav">
            <!-- close -->
            <div class="sidenav__close">
                <button class="sidenav__close-button" id="sidenav__close-button" aria-label="close sidenav">
                    <i class="ui-close sidenav__close-icon"></i>
                </button>
            </div>

            <!-- Nav -->
            {% partial 'side-menu' %}
        </header>
        <!-- end sidenav -->

        <main class="main oh" id="main">
            {% partial 'header' %}

            {% page %}

            {% partial 'footer' %}
            <div id="back-to-top">
                <a href="#top" aria-label="Go to top">
                    <i class="ui-arrow-up"></i>
                </a>
            </div>
        </main>
        <!-- end main-wrapper -->

        {% partial 'account/modal-login' %}

        <!-- jQuery Scripts -->
        <script src="{{ [
            '@jquery',
            '@framework',
            '@framework.extras',

            'assets/js/bootstrap.js',
            'assets/js/sticky-kit.js',
            'assets/js/easing.js',
            'assets/js/owl-carousel.js',
            'assets/js/flickity.js',
            'assets/js/ticker.js',
            'assets/js/modernizr.js',
            'assets/js/scripts.js',

        ]|theme }}"></script>

        {% scripts %}

        <script src="https://snapwidget.com/js/snapwidget.js"></script>

        {% partial 'tracker' %}

        {% partial 'flash' %}

    </body>
</html>
