.text-content > p {
    font-size: 16px;
    line-height: 28px;
    text-align: justify;
}

.text-content img {
    width: 100%;
}

.text-content iframe {
    width: 100%;
}

@media(min-width: 768px) {
	.logo__img {
		height: 50px;
	}

	.img-dashboard {
		height: 20px;
	}
}

.social-ui-whatsapp {
    background-color: #25d366;
}
.social-ui-whatsapp:hover {
	background-color: #25d366 !important;
	color: #fff !important;
}

.social-ui-whatsapp {
    background-color: #1DB954;
}
.social-ui-whatsapp:hover {
    background-color: #1DB954 !important;
    color: #fff !important;
}

.widget-account ul li a {
    display: flex;
}

.widget-account ul li a:before {
    position: relative;
    top: 6px;
}

.block-genre {
    width: 100%;
    height: 150px;
    background-color: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    position: relative;
}

.block-genre:before {
    content: '';
    position: absolute;
    width: 100%; height: 100%;
    left: 0; top: 0;
    background-color: rgba(0, 0, 0, 0.35);
}

.block-genre a {
    position: absolute;
    width: 100%; height: 100%;
    left: 0; top: 0;
}

.block-genre p {
    position: relative;
    color: #fff;
    z-index: 1;
}

.card-track {
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
}

.btn-danger,
.btn-danger:hover,
.btn-danger:focus {
    background: #e40020;
    color: #fff;
}

.card-track .card-header {
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.section-sidebar img {
    width: 100%;
}

.thumb-custom {
    height: 80px;
    background-color: #000;

}

@media(min-width: 768px) {
    .thumb-custom {
        height: 200px
    }
}

.banner-newsletter {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top: 130px;
    padding-bottom: 130px;
    position: relative;
}

.banner-newsletter:before {
    content: '';
    position: absolute;
    width: 100%; height: 100%;
    top: 0; left: 0;
    background-color: rgba(0,0,0,0.35);
}

.banner-newsletter h1 {
    position: relative;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.block-event {
    position: relative;
}

.block-event a {
    position: absolute;
    width: 100%; height: 100%;
    top: 0; left: 0;
    z-index: 2;
}

.event-bg {
    background-position: center center;
    background-size: cover;
}

.event-date {
    position: absolute;
    top: 20px;
    left: 20px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    background: rgba(0,0,0,0.35);
    padding: 10px;
    border-bottom: 3px solid #297cbc;
}

.final-review__text,
.final-review__text p {
    color: #fff !important;
    position: relative;
    z-index: 1;
}
