title     = "Member Band"
url       = "u/band/member"
layout    = "account"
is_hidden = 0

[UserBandMember]
==
function onEnd() {
    $this->page->hideTitle = true;
}
==
{{ form_ajax('onSave', {'data-request-flash': ''}) }}
    <div class="mb-4" style="margin-bottom: 60px">
        <div data-target-members>
            {% if user.band.members.count %}
                {% for key, member in user.band.members %}
                    {% partial 'account/band/form-member' member=member key=key %}
                {% endfor %}
            {% else %}
                {% partial 'account/band/form-member' %}
            {% endif %}
        </div>

        <div class="form-group">
            <label></label>
            <button class="btn btn-default w-100 pb-2 pt-2" type="submit" data-attach-loading>SIMPAN</button>
        </div>
    </div>
{{ form_close() }}

{% put scripts %}
<script>
$('body').on('click', '[data-add-member]', function(e){
    var button = $(this);
    var length = $('[data-target-member]').length;

    $.request('UserBandMember::onAdd', {
        data: {
            length  : length,
        },
        success: function(data) {
            this.success(data).done(function() {
                $('[data-target-members]').append(data.member)
            });
            button.button('reset');
        }
    });
});

$('body').on('click', '[data-remove-member]', function(e){
    var button  = $(this);
    var length  = $('[data-target-member]').length;
    var isExist = button.data('parameter');

    if(confirm('Hapus member ini?')) {
        if(isExist) {
            $.request('UserBandMember::onRemove', {
                data: {
                    parameter  : isExist,
                },
                success: function(data) {
                    this.success(data).done(function() {
                        $('[data-target-members]').html(data.member);
                    });
                },
            });

            return;
        }

        $('[data-target-member]')[length-1].remove();
    }
});
</script>
{% endput %}
