title     = "Profile Band"
url       = "u/band/profile"
layout    = "account"
is_hidden = 0

[UserBand]
==
{% set childGenres = UserBand.getGenreChild(user.band.genre.parent_id) %}
{% set social      = user.band.socials %}

{{ form_ajax('onSave', {'data-request-flash': ''}) }}
    {% if user.band and user.band.is_confirm == 0 %}
    <div class="alert alert-info">
        <p class="mb-0">
            Profile band kamu dalam proses review oleh team <b>kolektivisia</b> dan akan segera di publikasi setelahnya.
        </p>
    </div>
    {% endif %}
	<div class="mb-4" style="margin-bottom: 60px">
        <div class="row">
            <div class="col">
        		<div class="form-group">
        			<label>Genre</label>
        			<select name="genre_parent" class="form-control"
                        data-request="onSelectGenre"
                        data-request-update="'account/band/select-genre': '[data-target-genres]'">
        				<option value="">-- Pilih --</option>
                        {% for genre in genres %}
                        <option {{ genre.id == user.band.genre.parent_id ? 'selected' : '' }} value="{{ genre.id }}">{{ genre.name|upper }}</option>
                        {% endfor %}
        			</select>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label></label>
                    <div data-target-genres>
                        {% partial 'account/band/select-genre' childGenres=childGenres %}
                    </div>
                </div>
            </div>
		</div>

		<div class="form-group">
			<label>Nama</label>
			<input name="name" type="text" class="form-control" value="{{ user.band.name }}">
		</div>
		<div class="form-group">
			<label>Biografi</label>
			<textarea name="description" cols="30" rows="10" class="form-control">{{ user.band.description }}</textarea>
		</div>
	</div>

    <div class="mb-4" style="margin-bottom: 60px">
        <div class="page-header">
            <h3>Galeri</h3>
        </div>
        <hr>
        <div class="form-group" style="margin-bottom: 20px">
            {% component 'pictureUploader' %}
        </div>
    </div>

	<div class="mb-4" style="margin-bottom: 60px">
		<div class="page-header">
			<h3>Sosial Media</h3>
		</div>
		<hr>
		<div class="form-group">
			<label>Spotify <small class="text-muted"> (Opsional)</small></label>
			<input name="social_spotify" type="text" class="form-control" value="{{ social['spotify'] }}">
		</div>
		<div class="form-group">
			<label>Facebook <small class="text-muted"> (Opsional)</small></label>
			<input name="social_facebook" type="text" class="form-control" value="{{ social['facebook'] }}">
		</div>
		<div class="form-group">
			<label>Instagram <small class="text-muted"> (Opsional)</small></label>
			<input name="social_instagram" type="text" class="form-control" value="{{ social['instagram'] }}">
		</div>
		<div class="form-group">
			<label>Youtube <small class="text-muted"> (Opsional)</small></label>
			<input name="social_youtube" type="text" class="form-control" value="{{ social['youtube'] }}">
		</div>
		<div class="form-group">
			<label></label>
			<button class="btn btn-default w-100 pb-2 pt-2" type="submit" data-attach-loading>SIMPAN</button>
		</div>
	</div>
{{ form_close() }}
