title     = "Track Band"
url       = "u/band/track"
layout    = "account"
is_hidden = 0

[UserBandTrack]
==
function onEnd() {
    $this->page->hideTitle = true;
}
==
{% set childGenres = UserBand.getGenreChild(user.band.genre.parent_id) %}
{% set social      = user.band.socials %}

{{ form_ajax('onSave', {'data-request-flash': ''}) }}
    <div class="mb-4" style="margin-bottom: 60px">
        <div data-target-tracks>
            {% if user.band.tracks.count %}
                {% for key, track in user.band.tracks %}
                    {% partial 'account/band/form-track' track=track key=key %}
                {% endfor %}
            {% else %}
                {% partial 'account/band/form-track' %}
            {% endif %}
        </div>

        <div class="form-group">
            <label></label>
            <button class="btn btn-default w-100 pb-2 pt-2" type="submit" data-attach-loading>SIMPAN</button>
        </div>
    </div>
{{ form_close() }}

{% put scripts %}
<script>
$('body').on('click', '[data-add-track]', function(e){
    var button = $(this);
    var length = $('[data-target-track]').length;

    $.request('UserBandTrack::onAdd', {
        data: {
            length  : length,
        },
        success: function(data) {
            this.success(data).done(function() {
                $('[data-target-tracks]').append(data.track)
            });
            button.button('reset');
        }
    });
});

$('body').on('click', '[data-remove-track]', function(e){
    var button  = $(this);
    var length  = $('[data-target-track]').length;
    var isExist = button.data('parameter');

    if(confirm('Hapus track ini?')) {
        if(isExist) {
            $.request('UserBandTrack::onRemove', {
                data: {
                    parameter  : isExist,
                },
                success: function(data) {
                    this.success(data).done(function() {
                        $('[data-target-tracks]').html(data.track);
                    });
                },
            });

            return;
        }

        $('[data-target-track]')[length-1].remove();
    }
});
</script>
{% endput %}
