title     = "Dashboard"
url       = "u/dashboard"
layout    = "account"
is_hidden = 0

==
<div class="form-group">
	<label>Nama Lengkap</label>
	<input type="text" class="form-control">
</div>

<div class="form-group">
	<label>Nama Lengkap</label>
	<input type="text" class="form-control">
</div>
