title     = "Mendaftar"
url       = "/register"
layout    = "default"
is_hidden = 0

[account]
paramCode   = "code"
forceSecure = 0

[session]
security = "guest"
redirect = "home"
==
<div class="main-container container pt-24" id="main-container">
	<div class="row">
		<div class="col-6 ml-auto mr-auto">
			{% partial 'account/form-register' %}
		</div>
	</div>
</div>
