title     = "Ubah Password"
url       = "u/update-password"
layout    = "account"
is_hidden = 0

[UserPassword]
==
{{ form_ajax('UserPassword::onUpdatePassword', {'data-request-flash': ''})}}
	<div class="form-group">
	    <label>Password Baru</label>
	    <input name="password_new" type="password" class="form-control">
	</div>

	<div class="form-group">
	    <label>Ulangi Password</label>
	    <input name="password_retype" type="password" class="form-control">
	</div>

	<div class="form-group">
		<label></label>
		<button class="btn btn-default pt-2 pb-2 w-100" type="submit" data-attach-loading>SIMPAN</button>
	</div>
{{ form_close() }}
