title     = "Populer"
url       = "trends"
layout    = "default"
is_hidden = 0

[topPosts]
period = 4
category = 0
postPerPage = 12
postPage = "news/detail"
slug = "{{ :slug }}"
==
{% set blogs = topPosts.mostVisitedPosts %}
{% partial 'banner-secondary' title=this.page.title|upper %}
<div class="main-container container pt-24" id="main-container">
    <div class="row">
        {% for blog in blogs %}
        <div class="col-lg-6" style="margin-bottom: 20px">
            {% partial 'news/post-vertical' blog=blog %}
        </div>
        {% endfor %}
    </div>
</div>
