title  = "Pilihan"
url    = "pick"
layout = "default"

[BaseHome]
==
{% set trend      = BaseHome.getTrend() %}
{% partial 'banner-secondary' title=this.page.title|upper %}
<div class="main-container container pt-24" id="main-container">
    <div class="row">
        {% for post in trend %}
        {% set blog = post.post %}
        <div class="col-lg-6" style="margin-bottom: 20px">
            {% partial 'news/post-vertical' blog=blog %}
        </div>
        {% endfor %}
    </div>
</div>
