<h1><strong>Selamat datang di Kolektivisia!</strong></h1>

<p>Sebelum mengakses situs berita ini lebih baik, kami sarankan untuk membaca dan memahami syarat dan ketentuan yang berlaku serta kebijakan privasi yeng terkait dengan data dan informasi. Kolektivisia adalah situs berita dan platform community yang dirancang guna memenuhi kebutuhan masyarakat akan berbagai informasi tentnag Pop Culture yang independen, akurat, dan terpercaya.</p>

<p>
	<br>
	<!--[if !supportLineBreakNewLine]-->
	<br>
</p>

<h3><strong>Definisi</strong></h3>

<p>Setiap kata atau istilah berikut yang digunakan di dalam ketentuan dan kebijakan privasi memiliki arti seperti di bawah ini, kecuali jika ada kata atau istilah yang bersangkutan di dalam pemakaiannya dengan tegas menentukan arti kata yang lain.</p>

<p>1. “Kami”, berarti pemilik atau pengelola situs Kolektivisia, dan aplikasi lainnya serta mobile application.</p>

<p>2. “Anda”, berarti setiap orang yang mengakses dan menggunakan Layanan dan jasa yang disediakan oleh Kami.</p>

<p>3. “Layanan”, berarti setiap dan keseluruhan jasa serta informasi yang ada pada Situs Kolektivisia, dan tidak terbatas pada informasi yang disediakan, Layanan aplikasi dan fitur, dukungan data, serta mobile application yang disediakan oleh Kami.</p>

<p>4. “Pengguna”, berarti tiap orang yang mengakses dan menggunakan Layanan dan jasa yang disediakan oleh Kami, termasuk diantaranya Pengguna Belum Terdaftar dan Pengguna Terdaftar.</p>

<p>5. “Pengguna Terdaftar”, berarti tiap orang yang mengakses dan menggunakan Layanan dan jasa yang disediakan oleh Kami, serta telah melakukan registrasi dan memiliki akun pada Situs Kami.</p>

<p>
	<br>
	<!--[if !supportLineBreakNewLine]-->
	<br>
</p>

<h3><strong>Pengguna Layanan</strong></h3>

<p>Beberapa fitur atau Layanan pada Layanan hanya dapat diakses oleh Pengguna terdaftar. Pengguna yang menggunakan Layanan dengan cara mendaftar wajib memberikan data-data yang valid. Pengguna Layanan untuk bertanggung jawab penuh atas data-data saat melakukan pendaftaran dan membebaskan pengelola Layanan atas tanggun jawab apapun atas data dan informasi pendaftaran yang dicantumkan oleh Pengguna Layanan.</p>

<p>Pengguna Layanan dalam melakukan segala aktivitas dalam Layanan di situs Kolektivisia wajib tunduk dan patuh kepada ketentuan dalam Ketentuan Layanan, perundang-undangan yang berlaku serta menjaga norma-norma serta etika antara lain:</p>

<p>1. Dilarang mencantumkan dan mengeluarkan pernyataan dan atau penggambaran yang termasuk tetapi tidak terbatas melecehkan, menghina, merendahkan dan menyinggung Suku, Agama, Ras dan Antar golongan, gender atau jenis kelamin, kondisi fisik ataucacat, institusi atau kelompok tertentu, pornografi,kata-kata jorok atau kasar dan hal-hal lain yang tidak sesuai etika dan norma hidup bermasyarakat.</p>

<p>2. Dilarang melakukan tindakan yang melanggar Hak Atas Kekayaan Intelektual antara lain termasuk tetapi tidak terbatas plagiatisme, pencopyan tanpa izin atau pembajakan, dan pemalsuan.</p>

<p>3. Dilarang memuat atau meneruskan dari pihak lain dalam Layanan, materi-materi yang secara hukum dan peraturan berkaitan lainnya mengandung pelanggaran hukum baik pidana maupun perdata.</p>

<p>4. Pengguna Layanan yang mendaftar wajib melakukan pembaharuan atas data-datanya, apabila terjadi perubahan atas data dan informasi yang dicantumkan dalam form pendaftaran.</p>

<p>5. Pengguna Layanan dalam melakukan kegiatan Penggunan Layanan, dilarang menyebarkan fitnah, berita bohong, melakukan kegiatan-kegiatan yang dilarang di Republik Indonesia, memicu kebencian atas golongan atau kelompok tertentu.</p>

<p>6. Dilarang melakukan aktivitas dalam Layanan yang dapat menyebarkan virus, trojan dan atau program-program komputer lainnya yang dapat mengganggu atau merusak atau menghentikan proses Layanan.</p>

<p>
	<br>
	<!--[if !supportLineBreakNewLine]-->
	<br>
</p>

<h3><strong>Pembatasan Tanggung Jawab</strong></h3>

<p>Semua berita serta foto yang ada dalam Layanan Kolektivisia, baik yang berasal dari wartawan kami maupun dari berbagai sumber valid lainnya disajikan sesuai dengan rubrikasi atau infomasi yang ada dalam Layanan. Semua berita dan foto di Kolektivisia disajikan untuk tujuan informasi.</p>

<p>Materi dari pembaca Kolektivisia tidak bertanggung jawab terhadap materi yang dimuat oleh pembaca atau ditulis oleh pembaca, baik berupa komentar pihak ketiga (penggemar), komentar berita, foto, profil, dan sebagainya, baik yang tercantum dalam situs Kolektivisia.</p>

<p>
	<br>
	<!--[if !supportLineBreakNewLine]-->
	<br>
</p>

<h3><strong>Pengelolaan Data Dan Informasi</strong></h3>

<p>Pengguna Layanan dengan ini setuju untuk memberikan hak kepada Pengelola Layanan, untuk mengelola dan mengolah data dan informasi dari Pengguna Layanan untuk kepentingan Pengguna Layanan.</p>

<p>Pengguna Layanan setuju bahwa seluruh data dan informasi yang disampaikan Pengguna Layanan, validitas dan keabsahan secara hukum menjadi beban dan tanggung jawab pribadi Pengguna Layanan. Pengelola Layanan tidak bertanggung jawab atas data dan informasi yang disampaikan Pengguna Layanan baik akibat langsung maupun tidak langsung yang disampaikan secara terbuka di ruang publik maupun disampaikan secara tertutup kepada penggelola Layanan.</p>

<p>Pengelola Layanan berhak untuk mengedit atau mengubah, menyunting isi, mengatur dan melayout atas segala data dan informasi baik termasuk tetapi tidak terbatas dalam bentuk tulisan, foto dan gambar untuk kepentingan etika jurnalistik, norma dan estetika.</p>

<p>Pengelola Layanan berdasarkan perintah pengadilan dan atau undang-undang berhak untuk menyampaikan data dan informasi Pengguna Layanan kepada aparat yang berwenang, apabila data dan informasi tersebut menjadi bukti dalam suatu tindak pelanggaran pidana.</p>

<p>
	<br>
	<!--[if !supportLineBreakNewLine]-->
	<br>
</p>

<h3><strong>Hak Cipta</strong></h3>

<p>Informasi berupa teks, gambar, logo, suara atau segala bentus desain grafis yang ditampilkan dalam situs Kolektivisia maupun elemen-elemen pendukungnya merupakan hak cipta Kolektivisia dan dilindungi oleh Undang-Undang Hak Cipta.</p>

<p>Adanya penyalahgunaan isi atau sebagian, memperbanyak, memeremahkan, menggunakan, atau memanfaatkan tanpa izin tertulis dari pihak Kolektivisia akan dikenakan sanksi pidana dan atau perdata. Setiap materi yang diambil dari Kolektivisia wajib mencantumkan kredit title dengan mencantumkan logo atau menulis nama Kolektivisia.</p>

<p>Kami berhak untuk mengelola semua informasi dan atau data-data yang berikan oleh Pengguna dalam setiap pemanfaatan Layanan Kolektivisia menurut peraturan perundangan-undangan yang berlaku termasuk maupun tidak terbatas penghapusan data-data tersebut sewaktu-waktu tanpa adanya pemberitahuan lebih dini dari Kolektivisia.</p>

<p>Kami berhak untuk melakukan penyeleksian dan editing sesuai dengan kebutuhan teknis yang berlaku pada setiap Layanan Kolektivisia atas segala macam bentuk materi yang diterima dari Pengguna termasuk maupun tidak tidak terbatas melakukan pembatalan upload sesuai dengan penilaian tim redaksi Kolektivisia tanpa bisa diganggu gugat dan dengan tetap mengacu pada kode etik dan peraturan perundang-undangan yang berlaku untuk setiap materi yang lolos proses penilaian.</p>

<p>Kami berhak setiap saat dari waktu ke waktu untuk mengubah atau menghentikan, untuk sementara atau seterusnya, setiap Layanan Kolektivisia dengan atau tanpa pemberitahuan. Pengguna sepakat bahwa Kolektivisia tidak bertanggung jawab kepada pihak ketiga manapun atas modifikasi, penangguhan, atau penghentian pemberian setiap Layanan Kolektivisia tersebut.</p>

<p>
	<br>
</p>