<p style="text-align: justify;">Kami lahir dan tumbuh dari kota yang dahulu sempat memiliki ekosistem kreatif dengan semangat kolektif yang tinggi. Komunitas dalam berbagai kultur dan sub-kultur nya dapat berdikari akibat adanya rasa membangun antar sesama.</p>

<p style="text-align: justify;">
	<br>
</p>

<p style="text-align: justify;">Beranjak dewasa, kami merasa bahwa sedikit demi sedikit semangat kolektif tersebut luntur. Sehingga menyebabkan kurang maju dan sinergis sebuah ekosistem kreatif antar kultur di beberapa kota, khususnya untuk <strong><em>second city</em></strong>.</p>

<p style="text-align: justify;">
	<br>
</p>

<p style="text-align: justify;">Kolektivisia lahir akan spirit tersebut dan mebuat situs kolektivisia.com menjadi sebuah portal bagi para pelaku kreatif hingga komunitas yang menampungnya. Tanpa batasan kreatifitas, kami mencoba membangun ruang kolektivisia yang dapat dimanfaatkan sebagai media informasi dan hiburan tentang pop culture, berbagi opini dan selera, promosi, hingga menjadi marketplace untuk para komunitas dan pelaku kreatif. Semua upaya tersebut agar membuat ekosistem kreatif tumbuh secara baik, dalam skala Regional, Nasional, dan internasional.</p>

<p style="text-align: justify;">
	<br>
</p>

<p style="text-align: justify;">Namun demikian, situs Kolektivisia hanya satu dari sekian program dan produk kami lainya yang akan datang. Dengan semangat dan kebahagiaan yang kami coba sebar dan dapat dinikmati seluas-luasnya.</p>

<p style="text-align: justify;">
	<br>
</p>

<p style="text-align: justify;">Salam hangat,</p>

<p style="text-align: justify;"><strong>Kolektivisia</strong></p>