{{ form_ajax('onSignin', {'data-request-flash': ''}) }}
    <div class="form-group">
        <label for="userSigninLogin">{{ loginAttributeLabel }}</label>
        <input
            name="login"
            type="text"
            class="form-control"
            id="userSigninLogin"
        />
    </div>

    <div class="form-group">
        <label for="userSigninPassword">Password</label>
        <input
            name="password"
            type="password"
            class="form-control"
            id="userSigninPassword"
        />
    </div>

    {% if rememberLoginMode == 'ask' %}
    <div class="form-group">
        <div class="checkbox">
        <label><input name="remember" type="checkbox" value="1">Stay logged in</label>
        </div>
    </div>
    {% endif %}

    <div class="form-group">
        <label></label>
        <button type="submit" class="btn btn-default pt-2 pb-2 w-100" data-attach-loading>MASUK</button>
    </div>
    <div class="text-center mt-4 mb-3">
        Belum puny akun? <a href="{{ 'account/register'|page }}">Daftar Sekarang</a>
    </div>
{{ form_close() }}
