title  = "Hubungi"
url    = "about/contact"
layout = "default"
==
<div class="main-container container mt-4" id="main-container">
	<div class="row">
		{% for location in settings.site.contacts %}
		<div class="col-lg-10 offset-lg-1">
	        <!-- post content -->
		    <div class="blog__content mb-72">
		        <div class="row">
		        	<div class="col-lg-8">
                        {{ location.map|raw }}
		        		{# <iframe src="{{ location.map }}" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe> #}
		        	</div>
		        	<div class="col-lg-4">
		                <h4>{{ location.name }}</h4>
		                <p>{{ location.address }}</p>
		                <ul class="contact-items">
		                	{% if location.phone %}
		                    <li class="contact-item">
		                        Telepon: <a href="tel:{{ location.phone }}">{{ location.phone }}</a>
		                    </li>
		                    {% endif %}
		                    {% if location.email %}
		                    <li class="contact-item">
		                        Email: <a href="mailto:{{ location.email }}">{{ location.email }}</a>
		                    </li>
		                    {% endif %}
		                </ul>
		        	</div>
		        </div>
		    </div>
		</div>
		{% endfor %}
	</div>
</div>
