<div class="card card-track" data-target-track>
    <input type="hidden" name="parameter[{{ key ?: 0 }}]" value="{{ track.parameter }}">
    <div class="card-header">
        <h4>Album / Track {{ key ? key + 1 : '1' }}</h4>
        {% if not key %}
        <div class="ml-auto">
            <button class="btn btn-primary" type="button" data-add-track>
                TAMBAH
            </button>
        </div>
        {% endif %}

        {% if key %}
        <div class="ml-auto">
            <button class="btn btn-danger" type="button" data-parameter="{{ track.parameter }}" data-remove-track>
                HAPUS
            </button>
        </div>
        {% endif %}
    </div>

    <div class="card-body">
        <div class="form-group">
            <label>Nama</label>
            <input name="name[{{ key ?: 0 }}]" type="text" class="form-control" value="{{ track.name }}">
        </div>

        <div class="form-group">
            <label>Deskripsi <small class="text-muted">(Opsional)</small></label>
            <textarea name="description[{{ key ?: 0 }}]" rows="10" class="form-control">{{ track.description }}</textarea>
        </div>

        <div class="form-group">
            <label>Spotify Embeed Url</label>
            <input name="spotify[{{ key ?: 0 }}]" type="text" class="form-control" value="{{ track.spotify }}">
        </div>
    </div>
</div>
