<div class="card card-track" data-target-member>
    <input type="hidden" name="parameter[{{ key ?: 0 }}]" value="{{ member.parameter }}">
    <div class="card-header">
        <h4>Member {{ key ? key + 1 : '1' }}</h4>
        {% if not key %}
        <div class="ml-auto">
            <button class="btn btn-primary" type="button" data-add-member>
                TAMBAH
            </button>
        </div>
        {% endif %}

        {% if key %}
        <div class="ml-auto">
            <button class="btn btn-danger" type="button" data-parameter="{{ member.parameter }}" data-remove-member>
                HAPUS
            </button>
        </div>
        {% endif %}
    </div>

    <div class="card-body">
        <div class="form-group">
            <label>Posisi</label>
            <input name="role[{{ key ?: 0 }}]" type="text" class="form-control" value="{{ member.role }}">
        </div>

        <div class="form-group">
            <label>Nama</label>
            <input name="name[{{ key ?: 0 }}]" type="text" class="form-control" value="{{ member.name }}">
        </div>

        <div class="form-group">
            <label>Facebook <small class="text-muted"> (Opsional)</small></label>
            <input name="facebook[{{ key ?: 0 }}]" type="text" class="form-control" value="{{ member.socials['facebook'] }}">
        </div>

        <div class="form-group">
            <label>Twitter <small class="text-muted"> (Opsional)</small></label>
            <input name="twtitter[{{ key ?: 0 }}]" type="text" class="form-control" value="{{ member.socials['twtitter'] }}">
        </div>

        <div class="form-group">
            <label>Instagram <small class="text-muted"> (Opsional)</small></label>
            <input name="instagram[{{ key ?: 0 }}]" type="text" class="form-control" value="{{ member.socials['instagram'] }}">
        </div>

        <div class="form-group">
            <label>Youtube <small class="text-muted"> (Opsional)</small></label>
            <input name="youtube[{{ key ?: 0 }}]" type="text" class="form-control" value="{{ member.socials['youtube'] }}">
        </div>
    </div>
</div>
