<select name="genre_child" class="form-control">
    <option value="">-- Pilih --</option>
    {% for genre in childGenres %}
    <option {{ genre.id == user.band.genre_id ? 'selected' : '' }} value="{{ genre.id }}">{{ genre.name|upper }}</option>
    {% endfor %}
</select>
