url       = "event/detail/:slug"
layout    = "default"
is_hidden = 0

[BaseEventDetail]
slug="{{ :slug }}"

[BaseNewsletter]
==
function onEnd() {
    $this->page->title       = $this->event->name;
    $this->page->description = $this->event->content;
    $this->page->image       = $this->event->picture ? $this->event->picture->path : '';
}
==
<div class="main-container container pt-24" id="main-container">
    <!-- Content -->
    <div class="row">
        <!-- post content -->
        <div class="col-lg-8 blog__content mb-72">
            <div class="content-box">
                <!-- standard post -->
                <article class="entry mb-0">
                    <div class="single-post__entry-header entry__header">
                        <h1 class="single-post__entry-title">{{ event.name }}</h1>
                        <div class="entry__meta-holder">
                            <ul class="entry__meta">
                                <li class="entry__meta-author">
                                    <span>diselenggarakan oleh</span>
                                    <a href="#">{{ event.organizer ? event.organizer : 'Kolektivisia' }}</a>
                                </li>
                                <li class="entry__meta-date">{{ event.held_at|date('d F Y')}}</li>
                            </ul>
                        </div>
                    </div>
                    <!-- end entry header -->
                    <div class="entry__img-holder">
                        <img src="{{ event.picture.path }}" alt="" class="entry__img">
                    </div>
                    <div class="entry__article-wrap">
                        <!-- Share -->
                        <div class="entry__share">
                            <div class="sticky-col">
                                <div class="socials socials--rounded socials--large">
                                    <a class="social social-ui-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ 'event/detail'|page({slug: event.slug}) }}" title="facebook" target="_blank" aria-label="facebook">
                                        <i class="ui-facebook"></i>
                                    </a>
                                    <a class="social social-ui-twitter" href="https://twitter.com/share?url={{ 'event/detail'|page({slug: event.slug}) }}&text={{ event.title }}" title="twitter" target="_blank" aria-label="twitter">
                                        <i class="ui-twitter"></i>
                                    </a>
                                    <a class="social social-ui-whatsapp" href="https://wa.me/?text=Kolektivisia Event - {{ event.name }}: {{ str_limit(event.content|raw, 100, '...') }} {{ 'event/detail'|page({slug: event.slug})}} " title="whatsapp" target="_blank" aria-label="whatsapp">
                                        <i class="ui-whatsapp"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- share -->
                        <div class="entry__article">
                            <div class="text-content">
                                {{ event.content|raw }}
                            </div>

                            {% if blog.tags.count %}
                            <!-- tags -->
                            <div class="entry__tags">
                                <i class="ui-tags"></i>
                                <span class="entry__tags-label">Tags:</span>
                                {% for tag in blog.tags %}
                                <a href="{{ 'news/category'|page({slug: tag.slug}) }}" rel="tag">{{ tag.name }}</a>
                                {% endfor %}
                            </div>
                            <!-- end tags -->
                            {% endif %}
                        </div>
                        <!-- end entry article -->
                    </div>
                    <!-- end entry article wrap -->

                    {% if eventRelated.count %}
                    <!-- Related Posts -->
                    <section class="section related-posts mt-40 mb-0">
                        <div class="title-wrap title-wrap--line title-wrap--pr">
                            <h3 class="section-title">Media Partner Lainnya</h3>
                        </div>
                        <!-- Slider -->
                        <div id="owl-posts-3-items" class="owl-carousel owl-theme owl-carousel--arrows-outside">
                            {% for event in eventRelated %}
                            <article class="entry thumb thumb--size-1">
                                <div class="entry__img-holder thumb__img-holder" style="background-image: url({{ event.picture.path }});">
                                    <div class="bottom-gradient"></div>
                                    <div class="thumb-text-holder">
                                        <h2 class="thumb-entry-title">
                                            <a href="{{ 'event/detail'|page({slug: event.slug}) }}">{{ event.name }}</a>
                                        </h2>
                                    </div>
                                    <a href="{{ 'event/detail'|page({slug: event.slug}) }}" class="thumb-url"></a>
                                </div>
                            </article>
                            {% endfor %}
                        </div>
                        <!-- end slider -->
                    </section>
                    <!-- end related posts -->
                    {% endif %}
                </article>
                <!-- end standard post -->
            </div>
            <!-- end content box -->
        </div>
        <!-- end post content -->
        <!-- Sidebar -->
        <aside class="col-lg-4 sidebar sidebar--right">
            {% if eventKolektivisia.count %}
            <!-- Widget Popular Posts -->
            <aside class="widget widget-popular-posts">
                <h4 class="widget-title">Ruang Koelktivisia</h4>
                <ul class="post-list-small">
                    {% for event in eventKolektivisia %}
                    <li class="post-list-small__item">
                        <article class="post-list-small__entry clearfix">
                            <div class="post-list-small__img-holder">
                                <div class="thumb-container thumb-100">
                                    <a href="{{ 'event/detail'|page({slug: event.slug}) }}">
                                        <img data-src="{{ event.picture.path }}" src="{{ event.picture.path }}" alt="" class="post-list-small__img--rounded lazyload">
                                    </a>
                                </div>
                            </div>
                            <div class="post-list-small__body">
                                <h3 class="post-list-small__entry-title">
                                    <a href="{{ 'event/detail'|page({slug: event.slug}) }}">{{ event.name }}</a>
                                </h3>
                                <ul class="entry__meta">
                                    <li class="entry__meta-author">
                                        <span>Diselenggarakan Oleh</span>
                                        <a href="#">{{ event.organizer }}</a>
                                    </li>
                                    <li class="entry__meta-date">{{ post.held_at|date('d F Y') }}</li>
                                </ul>
                            </div>
                        </article>
                    </li>
                    {% endfor %}
                </ul>
            </aside>
            <!-- end widget popular posts -->
            {% endif %}

            <!-- Widget Newsletter -->
            <aside class="widget widget_mc4wp_form_widget">
                <h4 class="widget-title">Newsletter</h4>
                <p class="newsletter__text">
                    <i class="ui-email newsletter__icon"></i>
                    Berlangganan artikel mingguan kami
                </p>
                <form class="mc4wp-form" data-request="BaseNewsletter::onRegister" data-request-flash>
                    <div class="mc4wp-form-fields">
                        <div class="form-group">
                            <input type="text" name="email" placeholder="Email kamu...">
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-lg btn-color" value="Daftar" data-attach-loading>
                        </div>
                    </div>
                </form>
            </aside>
            <!-- end widget newsletter -->
        </aside>
        <!-- end sidebar -->
    </div>
    <!-- end content -->
</div>
